.schedule{
	background-color: #DCEAF4;
	border-radius: 3px;
	padding-bottom: 8px;
	padding-left: 8px;
}

.info-bar{
	background-color: #BBD8E9;
	border-radius: 3px;
	padding-bottom: 8px;
	padding-left: 8px;
}

.warning-bar{
	background-color: #EDD968;
	border-radius: 3px;
	margin-top: 10px;
	padding-top: 8px;
	padding-left: 8px;
}

/* Nav header styles */

#nav-navbar-autodo a.brand {
  padding: 14px 20px 12px;
}

#nav-logo-autodo {
  /*background-image: url(../img/logo.png);
  background-repeat: no-repeat;*/
  width: 200px;
  height: 50px;
  float: right;
}

.nav.pull-right {
  margin-right: 15px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

[class*="priority-"] {
	border-radius: 3px;
}

.priority-static{
	background-color: #DBDBDB;	
}

.priority-high{
	background-color: #FF7A45;	
}

.priority-low{
	background-color: #E8DF79;	
}

.priority-optional{
	background-color: #FFFFFF;	
}

.navbar .nav > li > .btn{
	color: #FFF;
	margin: 5px;
}

.login_info {
  color: #c7c7c7;
  line-height: 19px;
  padding: 15px 10px;
  font-size: 10px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }